<header>
    <nav>
        <a href="/">MyFavMovies</a>
        <ul>
            <li><a href="/actors">Actors</a></li>
            <li><a href="/actors/new">Add Actors</a></li>
        </ul>
    </nav>
</header>